name: Releases

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Npm install
      uses: actions/setup-node@v3
      with:
        node-version: 16.14.2
    - run: npm install        

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: true
        context: .
        file: Dockerfile
        tags: adminmindgrep/gs_service:${{ github.ref_name }}

    # - uses: ncipollo/release-action@v1
    #   with:
    #     artifacts: "release.tar.gz"
    #     bodyFile: "release.md"
    #     token: ${{ secrets.GIT_TOKEN }}        

